.angular-mfe {
    display: flex;
    flex-direction: row;
}
.box {
    background-color: #2a2af8;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: aliceblue;
    height: 40px;
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
}